<div>
  <img src="/assets/alex.jpeg" alt="Alexander Tarasov">
  <p>
    Hi, I'm <strong>Alex</strong>. I'm a security engineer based in Vienna.
    You can follow me on <a href="https://x.com/oioki" target="_blank">Twitter</a>, or
    see some of my work on <a href="https://github.com/oioki" target="_blank">GitHub</a>.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
